.allotment{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formData{
    width: 95%;
    max-width: 450px;
}

.buttonContainer{
    width: 95%;
    max-width: 900px;
    display: flex;
    justify-content: right;
    margin: 40px 0px 10px 0px;
}
.payments{
    width: 95%;
}

.paymentLog{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.tablesContainer{
    width: 97.5%;
    max-width: 750px;
    overflow: scroll;
    margin-bottom: 20vh;
}
.tablesContainer::-webkit-scrollbar{
    display: none;
}

tr, th, td{
    border: 0.5px solid black;
    text-align: right;
    font-size: 1.25rem;
    padding: 0px 6px;
    min-width: fit-content;
}

.paymentClass{
    background-color: yellow;
}